{% extends 'layouts/vertical.html.twig' %}

{% set title = 'Student Assigned List' %}

{% block css %}
	<!-- Datatables css -->
	<link href="/libs/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/libs/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/libs/datatables.net-keytable-bs5/css/keyTable.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/libs/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/libs/datatables.net-select-bs5/css/select.bootstrap5.min.css" rel="stylesheet" type="text/css"/>

	<link href="/libs/simple-datatables/style.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}

	{# {{dump(form)}} #}

	<!-- Start Content-->
		<div class="container-fluid"> <div class="py-3 d-flex align-items-sm-center flex-sm-row flex-column">
			<div class="flex-grow-1 d-flex align-items-center gap-4 mb-3 mb-sm-0">
				<h4 class="fs-18 fw-semibold m-0">Student Assigned on
					{{ schoolClass.subjectName }}
					-
					{{ section.sectionName }}
				</h4>
				<button type="button" class="btn btn-sm btn-primary waves-effect waves-light" data-bs-toggle="modal" data-bs-target=".bs-example-modal-xl">
					<i class="mdi mdi-plus text-white"></i>
				</button>

			</div>

			<div class="text-end">
				<ol class="breadcrumb m-0 py-0">
					<li class="breadcrumb-item">
						<a href="{{path('app_subject')}}">Subjects</a>
					</li>
					<li class="breadcrumb-item active">Student List</li>
				</ol>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-body">
						<table id="datatable" class="table dt-responsive table-responsive nowrap">
							<thead>
								<tr>
									<th scope="col">Student Number</th>
									<th scope="col">Name</th>
									<th scope="col">Course</th>
									<th scope="col">Section</th>
									<th scope="col">Actions</th>
								</tr>
							</thead>
							<tbody>
								{% for student in section.students %}
									<tr>
										<td>
											<a href="#" class="text-body">{{ student.studentNumber }}</a>
										</td>
										<td>{{ student.name }}</td>
										<td>{{ student.course }}</td>
										<td>{{ student.section }}</td>
										<td>
											<a aria-label="View QR" class="btn btn-sm bg-success-subtle me-1" target="_blank" data-bs-toggle="tooltip" title="View QR" href="{{ path('app_student_qr', { id: student.id }) }}">
												<i class="mdi mdi-eye fs-14 text-success"></i>
											</a>
											<button type="button" class="btn btn-sm bg-danger-subtle" title="Delete" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{ student.id }}_{{ section.id }}">
												<i class="mdi mdi-delete fs-14 text-danger"></i>
											</button>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- end row -->

	</div>


	<div class="modal fade bs-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="myExtraLargeModalLabel">Assign Students</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="col-lg-12 ms-lg-auto">
						<div class="mt-5 mt-lg-4">
							{{ form_start(form, {'attr': {'class': 'needs-validation'}}) }}
							<div class="row mb-4">
								{{ form_label(form.class, 'Subject', {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
								<div class="col-sm-9">
									{{ form_widget(form.class, {'attr': {'class': 'form-control', 'placeholder': 'Enter Section'}}) }}
									{{ form_errors(form.class) }}
								</div>
							</div>

							{% set courses = [] %}
							{% for choice in form.students.vars.choices %}
								{% set course = choice.data.course %}
								{% if course is not empty and course not in courses %}
									{% set courses = courses|merge([course]) %}
								{% endif %}
							{% endfor %}

							<div class="row mb-4">
								<label for="courseFilter" class="col-sm-3 col-form-label">Filter by Course:</label>
								<div class="col-sm-9">
									<select id="courseFilter" class="form-control">
										<option value="">All</option>
										{% for c in courses %}
											<option value="{{ c }}">{{ c }}</option>
										{% endfor %}
									</select>
								</div>
							</div>

							{# Collect unique sections from student choices #}
							{% set sections = [] %}
							{% for choice in form.students.vars.choices %}
								{% set sec = choice.data.section %}
								{% if sec is not empty and sec not in sections %}
									{% set sections = sections|merge([sec]) %}
								{% endif %}
							{% endfor %}

							<div class="row mb-4">
								<label for="sectionFilter" class="col-sm-3 col-form-label">Filter by Section:</label>
								<div class="col-sm-9">
									<select id="sectionFilter" class="form-control">
										<option value="">All</option>
										{% for sec in sections %}
											<option value="{{ sec }}">{{ sec }}</option>
										{% endfor %}
									</select>
								</div>
							</div>

							<div class="row mb-4">
								{{ form_label(form.students, 'Students', {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
								<div class="col-sm-9">
									{{ form_widget(form.students, {'attr': {'class': 'form-control', 'placeholder': 'Add Student'}}) }}
									{{ form_errors(form.students) }}
								</div>
							</div>

							<div class="d-flex justify-content-end">
								<button class="btn btn-primary ml-auto">Add Student</button>
							</div>

							{{ form_end(form) }}

						</div>
					</div>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>

	{% for student in section.students %}
		<!-- Modal -->
		<div class="modal fade" id="staticBackdrop{{ student.id }}_{{ section.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="staticBackdropLabel">Confirm Deletion</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<p>Are you sure you want to delete student
							<strong>{{ student.name }}</strong>? This action cannot be undone.</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
						<form method="post" action="{{ path('app_class_student_delete', { id: schoolClass.id, sectionId: section.id, studentId: student.id }) }}" style="display:inline;">
							<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ student.id) }}">
							<button type="submit" class="btn btn-primary">Yes, Delete</button>
						</form>
					</div>
				</div>
			</div>
		</div>

		<!-- end col -->
	{% endfor %}

{% endblock %}
{% block script %}
	<!-- Datatables js -->
	<script src="/libs/datatables.net/js/jquery.dataTables.min.js"></script>

	<!-- dataTables.bootstrap5 -->
	<script src="/libs/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
	<script src="/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>

	<!-- buttons.colVis -->
	<script src="/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>
	<script src="/libs/datatables.net-buttons/js/buttons.flash.min.js"></script>
	<script src="/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
	<script src="/libs/datatables.net-buttons/js/buttons.print.min.js"></script>

	<!-- buttons.bootstrap5 -->
	<script src="/libs/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js"></script>

	<!-- dataTables.keyTable -->
	<script src="/libs/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
	<script src="/libs/datatables.net-keytable-bs5/js/keyTable.bootstrap5.min.js"></script>

	<!-- dataTable.responsive -->
	<script src="/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
	<script src="/libs/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>

	<!-- dataTables.select -->
	<script src="/libs/datatables.net-select/js/dataTables.select.min.js"></script>
	<script src="/libs/datatables.net-select-bs5/js/select.bootstrap5.min.js"></script>

	<!-- Datatable Demo App Js -->
	<script src="/js/pages/datatable.init.js"></script>
	<script>
		console.log("Dropdown:", selected, " Student section:", section);
	</script>

	<script>
		document.addEventListener('DOMContentLoaded', function () {
const sectionFilter = document.getElementById('sectionFilter');
const courseFilter = document.getElementById('courseFilter');
const studentSelect = document.getElementById('{{ form.students.vars.id }}');

function applyFilters() {
const selectedSection = sectionFilter.value;
const selectedCourse = courseFilter.value;

Array.from(studentSelect.options).forEach(option => {
const matchSection = ! selectedSection || option.dataset.section === selectedSection;
const matchCourse = ! selectedCourse || option.dataset.course === selectedCourse;

option.hidden = !(matchSection && matchCourse);
});

// Reset if hidden
if (studentSelect.selectedOptions.length > 0) {
const selected = studentSelect.selectedOptions[0];
if (selected.hidden) {
studentSelect.value = '';
}
}
}

sectionFilter.addEventListener('change', applyFilters);
courseFilter.addEventListener('change', applyFilters);
});
	</script>


{% endblock %}
