{% extends 'layouts/vertical.html.twig' %}

{% set title = 'View Attendance' %}

{% block css %}
	<!-- Datatables css -->
	<link href="/libs/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/libs/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/libs/datatables.net-keytable-bs5/css/keyTable.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/libs/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/libs/datatables.net-select-bs5/css/select.bootstrap5.min.css" rel="stylesheet" type="text/css"/>

	<link href="/libs/simple-datatables/style.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="py-3 d-flex align-items-sm-center flex-sm-row flex-column">
			<div class="flex-grow-1 d-flex align-items-center gap-4 mb-3 mb-sm-0">
				<h4 class="fs-18 fw-semibold m-0">
					Today's Attendance for Section
					{{ section.sectionName }}
					({{ section.class.subjectName }})
				</h4>
			</div>
			<div class="text-end">
				<ol class="breadcrumb m-0 py-0">
					<li class="breadcrumb-item">
						<a href="javascript:void(0);">Dashboard</a>
					</li>
					<li class="breadcrumb-item active">Attendance List</li>
				</ol>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 col-lg-4 col-xl">
				<div class="card">
					<div class="card-body">
						<div class="widget-first">

							<div class="d-flex align-items-center mb-2">
								<p class="mb-0 text-dark fs-16 fw-medium">Total Students</p>
							</div>
							<div class="d-flex justify-content-between align-items-center mb-2">
								<h3 class="mb-0 fs-24 text-dark me-4">{{ totalStudents }}</h3>
								<div class="avatar-md bg-primary rounded">
									<iconify-icon class="mdi mdi-account-school fs-28 avatar-title" data-dashlane-shadowhost="true" data-dashlane-observed="true"></iconify-icon>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-lg-4 col-xl">
				<div class="card">
					<div class="card-body">
						<div class="widget-first">

							<div class="d-flex align-items-center mb-2">
								<p class="mb-0 text-dark fs-16 fw-medium">Total Present</p>
							</div>

							<div class="d-flex justify-content-between align-items-center mb-2">
								<h3 class="mb-0 fs-24 text-dark me-4">{{ totalPresent }}</h3>
								<div class="avatar-md bg-success rounded">
									<iconify-icon class="mdi mdi-check-circle fs-28 avatar-title" data-dashlane-shadowhost="true" data-dashlane-observed="true"></iconify-icon>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-lg-4 col-xl">
				<div class="card">
					<div class="card-body">
						<div class="widget-first">

							<div class="d-flex align-items-center mb-2">
								<p class="mb-0 text-dark fs-16 fw-medium">Total Absent</p>
							</div>

							<div class="d-flex justify-content-between align-items-center mb-2">
								<h3 class="mb-0 fs-24 text-dark me-4">{{ totalAbsent }}</h3>
								<div class="avatar-md bg-danger rounded">
									<iconify-icon class="mdi mdi-close-octagon fs-28 avatar-title" data-dashlane-shadowhost="true" data-dashlane-observed="true"></iconify-icon>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-lg-6 col-xl">
				<div class="card">
					<div class="card-body">
						<div class="widget-first">

							<div class="d-flex align-items-center mb-2">
								<p class="mb-0 text-dark fs-16 fw-medium">Total Late</p>
							</div>

							<div class="d-flex justify-content-between align-items-center mb-2">
								<h3 class="mb-0 fs-24 text-dark me-4">{{ totalLate }}</h3>
								<div class="avatar-md bg-warning rounded">
									<iconify-icon class="mdi mdi-alert-box fs-28 avatar-title" data-dashlane-shadowhost="true" data-dashlane-observed="true"></iconify-icon>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-body">
						<table id="datatable" class="table dt-responsive table-responsive nowrap">
							<thead>
								<tr>
									{# <th>Student ID</th> #}
									<th>Student Name</th>
									<th>Status</th>
									<th>Time</th>
								</tr>
							</thead>
							<tbody>
								{% for entry in studentAttendance %}
									<tr>
										{# <td>{{ entry.student.studentNumber }}</td> #}
										<td>{{ entry.student.name }}</td>
										<td>
											{% if entry.status == 'Present' %}
												<span class="badge bg-success">Present</span>
											{% elseif entry.status == 'Late' %}
												<span class="badge bg-warning text-dark">Late</span>
											{% else %}
												<span class="badge bg-danger">Absent</span>
											{% endif %}
										</td>
										<td>{{ entry.time ?? '-'}}</td>
									</tr>
								{% else %}
									<tr>
										<td colspan="3" class="text-center">No attendance found.</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block script %}

	<!-- Datatables js -->
	<script src="/libs/datatables.net/js/jquery.dataTables.min.js"></script>

	<!-- dataTables.bootstrap5 -->
	<script src="/libs/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
	<script src="/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>

	<!-- buttons.colVis -->
	<script src="/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>
	<script src="/libs/datatables.net-buttons/js/buttons.flash.min.js"></script>
	<script src="/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
	<script src="/libs/datatables.net-buttons/js/buttons.print.min.js"></script>

	<!-- buttons.bootstrap5 -->
	<script src="/libs/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js"></script>

	<!-- dataTables.keyTable -->
	<script src="/libs/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
	<script src="/libs/datatables.net-keytable-bs5/js/keyTable.bootstrap5.min.js"></script>

	<!-- dataTable.responsive -->
	<script src="/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
	<script src="/libs/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>

	<!-- dataTables.select -->
	<script src="/libs/datatables.net-select/js/dataTables.select.min.js"></script>
	<script src="/libs/datatables.net-select-bs5/js/select.bootstrap5.min.js"></script>

	<!-- Datatable Demo App Js -->
	<script src="/js/pages/datatable.init.js"></script>


	<script>
		document.addEventListener('DOMContentLoaded', function () {
const tooltipTriggerList = [].slice.call(document.querySelectorAll('[title]'));
tooltipTriggerList.forEach(function (tooltipTriggerEl) {
new bootstrap.Tooltip(tooltipTriggerEl);
});
});
	</script>

	<!-- Apexcharts JS -->
	<script src="/libs/apexcharts/apexcharts.min.js"></script>

	<!-- Vector map-->
	<script src="/libs/jsvectormap/jsvectormap.min.js"></script>
	<script src="/libs/jsvectormap/maps/world-merc.js"></script>

	<!-- Widgets Init Js -->
	<script src="/js/pages/crm-dashboard.init.js"></script>
{% endblock %}
